<!--==================== Student Information ====================-->
<!--==================== File name: Service page ====================-->
<!--==================== Student name: Tuong Quyen Dao ====================-->
<!--==================== Student number: 301339656 ====================-->
<!--==================== Date: Sep 27, 2023 ====================-->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!--=============== FAVICON ===============-->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

  <!--=============== REMIXICONS ===============-->
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css"
    rel="stylesheet"
  />

  <!--=============== CSS ===============-->
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Tuong Dao</title>
</head>
