<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/nav') %>

    <!--==================== MAIN ====================-->
    <main class="main">
      <section class="projects section" id="projects">
        <h3 class="section__subtitle">My <span>Jobs</span></h3>
        <h2 class="section__title">Recent Projects</h2>
        <div class="projects__container container grid">
          <article class="projects__card">
            <img
              src="/images/project-img-1.jpg"
              alt="projects image"
              class="projects__img"
            />
            <div class="projects__modal">
              <span class="projects__subtitle">Web</span>
              <h2 class="projects__title">Modern website</h2>
              <a href="#" class="projects__button">
                View demo
                <i class="ri-external-link-line"></i>
              </a>
            </div>
          </article>

          <article class="projects__card">
            <img
              src="/images/project-img-2.jpg"
              alt="projects image"
              class="projects__img"
            />
            <div class="projects__modal">
              <span class="projects__subtitle">Web</span>
              <h2 class="projects__title">Modern website</h2>
              <a href="#" class="projects__button">
                View demo
                <i class="ri-external-link-line"></i>
              </a>
            </div>
          </article>

          <article class="projects__card">
            <img
              src="/images/project-img-3.jpg"
              alt="projects image"
              class="projects__img"
            />
            <div class="projects__modal">
              <span class="projects__subtitle">Web</span>
              <h2 class="projects__title">Modern website</h2>
              <a href="#" class="projects__button">
                View demo
                <i class="ri-external-link-line"></i>
              </a>
            </div>
          </article>

          <article class="projects__card">
            <img
              src="/images/project-img-4.jpg"
              alt="projects image"
              class="projects__img"
            />
            <div class="projects__modal">
              <span class="projects__subtitle">Web</span>
              <h2 class="projects__title">Modern website</h2>
              <a href="#" class="projects__button">
                View demo
                <i class="ri-external-link-line"></i>
              </a>
            </div>
          </article>

          <article class="projects__card">
            <img
              src="/images/project-img-5.jpg"
              alt="projects image"
              class="projects__img"
            />
            <div class="projects__modal">
              <span class="projects__subtitle">Web</span>
              <h2 class="projects__title">Modern website</h2>
              <a href="#" class="projects__button">
                View demo
                <i class="ri-external-link-line"></i>
              </a>
            </div>
          </article>

          <article class="projects__card">
            <img
              src="/images/project-img-6.jpg"
              alt="projects image"
              class="projects__img"
            />
            <div class="projects__modal">
              <span class="projects__subtitle">Web</span>
              <h2 class="projects__title">Modern website</h2>
              <a href="#" class="projects__button">
                View demo
                <i class="ri-external-link-line"></i>
              </a>
            </div>
          </article>
        </div>
      </section>
    </main>

    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="ri-arrow-up-line"></i>
    </a>
    <!--=============== SCROLLREVEAL ===============-->
    <script src="javascripts/scrollreveal.min.js"></script>

    <!--=============== EMAIL JS ===============-->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
    <!--=============== MAIN JS ===============-->
    <script src="/javascripts/main.js"></script>
  </body>
</html>
